#overview {
  width: 100vw;
  margin-left: auto;
  height: calc(100vh - 80px);
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
}

@media (min-width: 1200px) {
  #overview {
    width: calc(100vw - 220px);
  }
}
